<a href="https://colab.research.google.com/github/KattaLasya/2303A51724_ADM/blob/main/Assigment_1%5BEMP_SAL%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/EMP_SAL.csv')
print("Original Dataset:")
print(df)

Original Dataset:
           DOB  BASIC_PAY    HRA     DA    TAX
0   07-03-2004      75000  12500   5200   4500
1   10-03-2002      79500  13200   5600   5000
2   12-03-2000      84000  13900   6000   5500
3   15-03-1998      88500  14600   6400   6000
4   17-03-1996      93000  15300   6800   6500
5   20-03-1994      97500  16000   7200   7000
6   22-03-1992     102000  16700   7600   7500
7   25-03-1990     106500  17400   8000   8000
8   27-03-1988     111000  18100   8400   8500
9   30-03-1986     115500  18800   8800   9000
10  01-04-1984     120000  19500   9200   9500
11  04-04-1982     124500  20200   9600  10000
12  06-04-1980     129000  20900  10000  10500
13  09-04-1978     133500  21600  10400  11000

In [3]:
df.isna()

      DOB  BASIC_PAY    HRA     DA    TAX
0   False      False  False  False  False
1   False      False  False  False  False
2   False      False  False  False  False
3   False      False  False  False  False
4   False      False  False  False  False
5   False      False  False  False  False
6   False      False  False  False  False
7   False      False  False  False  False
8   False      False  False  False  False
9   False      False  False  False  False
10  False      False  False  False  False
11  False      False  False  False  False
12  False      False  False  False  False
13  False      False  False  False  False

In [4]:
df.isnull().sum()

DOB          0
BASIC_PAY    0
HRA          0
DA           0
TAX          0
dtype: int64

In [5]:
df['BASIC_PAY'].mean()

104250.0

In [6]:
df['HRA'].mean()

17050.0

In [7]:
df['DA'].mean()

7800.0

In [8]:
df['DA'].mode()

0      5200
1      5600
2      6000
3      6400
4      6800
5      7200
6      7600
7      8000
8      8400
9      8800
10     9200
11     9600
12    10000
13    10400
Name: DA, dtype: int64

In [9]:
df['DA'].median()

7800.0

In [10]:
df['BASIC_PAY'].fillna(df['BASIC_PAY'].mean(), inplace=True)

<ipython-input-10-61b3c9480f09>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BASIC_PAY'].fillna(df['BASIC_PAY'].mean(), inplace=True)

In [11]:
df['BASIC_PAY'] = df['BASIC_PAY'].fillna(df['BASIC_PAY'].mean())

In [12]:
df['HRA'] =df['HRA'].fillna(df['HRA'].mean())

In [13]:
df['DA'] = df['DA'].fillna(df['DA'].mean())

In [14]:
df

           DOB  BASIC_PAY    HRA     DA    TAX
0   07-03-2004      75000  12500   5200   4500
1   10-03-2002      79500  13200   5600   5000
2   12-03-2000      84000  13900   6000   5500
3   15-03-1998      88500  14600   6400   6000
4   17-03-1996      93000  15300   6800   6500
5   20-03-1994      97500  16000   7200   7000
6   22-03-1992     102000  16700   7600   7500
7   25-03-1990     106500  17400   8000   8000
8   27-03-1988     111000  18100   8400   8500
9   30-03-1986     115500  18800   8800   9000
10  01-04-1984     120000  19500   9200   9500
11  04-04-1982     124500  20200   9600  10000
12  06-04-1980     129000  20900  10000  10500
13  09-04-1978     133500  21600  10400  11000

In [15]:
df['TAX'].fillna(df['TAX'].mean(),inplace=True)

<ipython-input-15-c69ff154be93>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TAX'].fillna(df['TAX'].mean(),inplace=True)

In [16]:
print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
           DOB  BASIC_PAY    HRA     DA    TAX
0   07-03-2004      75000  12500   5200   4500
1   10-03-2002      79500  13200   5600   5000
2   12-03-2000      84000  13900   6000   5500
3   15-03-1998      88500  14600   6400   6000
4   17-03-1996      93000  15300   6800   6500
5   20-03-1994      97500  16000   7200   7000
6   22-03-1992     102000  16700   7600   7500
7   25-03-1990     106500  17400   8000   8000
8   27-03-1988     111000  18100   8400   8500
9   30-03-1986     115500  18800   8800   9000
10  01-04-1984     120000  19500   9200   9500
11  04-04-1982     124500  20200   9600  10000
12  06-04-1980     129000  20900  10000  10500
13  09-04-1978     133500  21600  10400  11000

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
scaler = MinMaxScaler()

In [19]:
df[['BASIC_PAY']] = scaler.fit_transform(df[['BASIC_PAY']])

In [20]:
df['HRA'] = (df['HRA'] - df['HRA'].min()) / (df['HRA'].max() - df['HRA'].min())

In [21]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [22]:
df[['DA']] = s_scaler.fit_transform(df[[ 'DA']])

In [23]:
df['DA']

0    -1.612452
1    -1.364382
2    -1.116313
3    -0.868243
4    -0.620174
5    -0.372104
6    -0.124035
7     0.124035
8     0.372104
9     0.620174
10    0.868243
11    1.116313
12    1.364382
13    1.612452
Name: DA, dtype: float64

In [24]:
df['DA'] = (df['DA'] - df['DA'].mean()) / df['DA'].std()

In [25]:
df

           DOB  BASIC_PAY       HRA        DA    TAX
0   07-03-2004   0.000000  0.000000 -1.553797   4500
1   10-03-2002   0.076923  0.076923 -1.314751   5000
2   12-03-2000   0.153846  0.153846 -1.075706   5500
3   15-03-1998   0.230769  0.230769 -0.836660   6000
4   17-03-1996   0.307692  0.307692 -0.597614   6500
5   20-03-1994   0.384615  0.384615 -0.358569   7000
6   22-03-1992   0.461538  0.461538 -0.119523   7500
7   25-03-1990   0.538462  0.538462  0.119523   8000
8   27-03-1988   0.615385  0.615385  0.358569   8500
9   30-03-1986   0.692308  0.692308  0.597614   9000
10  01-04-1984   0.769231  0.769231  0.836660   9500
11  04-04-1982   0.846154  0.846154  1.075706  10000
12  06-04-1980   0.923077  0.923077  1.314751  10500
13  09-04-1978   1.000000  1.000000  1.553797  11000